<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="testng" verbose="1">
    <test name="testng">
        <classes>
            <class name="com.internethero.tests.ContextMenuTests"/>
            <class name="com.internethero.tests.DragAndDropTests"/>
            <class name="com.internethero.tests.DropdownListTests"/>
            <class name="com.internethero.tests.FileUploadTests"/>
            <class name="com.internethero.tests.FrameTests"/>
            <class name="com.internethero.tests.HorizontalSliderTests"/>
            <class name="com.internethero.tests.HoverTests"/>
            <class name="com.internethero.tests.JavaScripAlertTests"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"></listener>
    </listeners>
</suite>